.loading-dots::after {
  content: "...";
  animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
  0%, 20% { color: transparent; text-shadow: .25em 0 0 transparent, .5em 0 0 transparent; }
  40% { color: white; text-shadow: .25em 0 0 transparent, .5em 0 0 transparent; }
  60% { color: white; text-shadow: .25em 0 0 white, .5em 0 0 transparent; }
  80%,100% { color: white; text-shadow: .25em 0 0 white, .5em 0 0 white; }
}
